@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  font: 400 16px/1.65 "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #2b3d4f;
  background: #e5e5e5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: #2b3d4f;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

p {
  line-height: 1.65;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

ol, ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

b, strong {
  font-weight: 600;
}

small {
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  max-width: 1000px;
  margin: 30px auto;
  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.wrapper section:not(:last-child) {
  margin-bottom: 15px;
}
.wrapper section .section-title {
  display: flex;
  align-items: baseline;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  color: #31588a;
  margin-bottom: 15px;
  padding: 3px 0;
  border-bottom-color: rgba(49, 88, 138, 0.25);
  border-bottom-width: 1px;
}
.wrapper section .section-title i::after {
  content: " ";
  font-family: initial;
}
.wrapper section .section-title h2 {
  font-size: inherit;
  margin-bottom: 0;
}
.wrapper section .section-content .description {
  margin-bottom: 15px;
}
.wrapper section .section-content .items .item {
  margin-bottom: 15px;
}
.wrapper section .section-content .items .item .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper section .section-content .items .item .description {
  margin-bottom: 0;
}
.wrapper section .section-content .groups {
  margin-bottom: 15px;
}
.wrapper section .section-content .location,
.wrapper section .section-content .degree {
  display: inline-flex;
  align-items: baseline;
}
.wrapper section .section-content .location i::after,
.wrapper section .section-content .degree i::after {
  content: " ";
  font-family: initial;
}
.wrapper section .section-content .company,
.wrapper section .section-content .project-name {
  display: inline-flex;
  align-items: baseline;
  font-size: 18px;
  max-width: 460px;
}
.wrapper section .section-content .company small::before,
.wrapper section .section-content .project-name small::before {
  content: " ";
  font-family: initial;
}
.wrapper section .section-content .company,
.wrapper section .section-content .project-name,
.wrapper section .section-content .institution,
.wrapper section .section-content .certificate-name,
.wrapper section .section-content .publication-title,
.wrapper section .section-content .award-name,
.wrapper section .section-content .reference-name {
  font-weight: 600;
}
.wrapper section .section-content .company-sub-title {
  font-size: 14px;
  font-weight: 400;
}
.wrapper section .section-content .company-sub-title:before {
  content: " ";
  font-family: initial;
}
.wrapper section .section-content .role,
.wrapper section .section-content .major,
.wrapper section .section-content .issuer,
.wrapper section .section-content .authors,
.wrapper section .section-content .awarder,
.wrapper section .section-content .reference-title,
.wrapper section .section-content .conference-sub-title {
  font-style: italic;
  font-weight: 500;
}
.wrapper section .section-content .date,
.wrapper section .section-content .location,
.wrapper section .section-content .degree {
  white-space: nowrap;
  color: #4e3114;
}
.wrapper section .section-content .tags {
  white-space: nowrap;
  color: #4e3114;
}
.wrapper .basic {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.wrapper .basic .avatar {
  max-height: 125px;
  border: 0px solid #f9f9f9;
}
.wrapper .basic .header {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.wrapper .basic .header .name {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 7.5px;
  color: #202020;
}
.wrapper .basic .header .title {
  color: #354a5f;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 7.5px;
}
.wrapper .basic .header .contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
}
.wrapper .basic .header .contact .contact-item {
  display: inline-flex;
  align-items: baseline;
}
.wrapper .basic .header .contact .contact-item:not(:last-child)::after {
  content: "·";
  color: #4e3114;
  margin: 0 0.5em;
}
.wrapper .basic .header .contact .contact-item i::after {
  content: " ";
  font-family: initial;
}
.wrapper .certificate .section-content .items,
.wrapper .award .section-content .items,
.wrapper .reference .section-content .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .certificate .section-content .items .item,
.wrapper .award .section-content .items .item,
.wrapper .reference .section-content .items .item {
  flex-basis: 45%;
}
.wrapper .skill .section-content .items {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .skill .section-content .items .item {
  display: inline-flex;
  align-items: center;
  justify-content: end;
  flex-basis: 30%;
}
.wrapper .skill .section-content .items .item .skill-name::after {
  content: "  ";
  font-family: initial;
}
.wrapper .skill .section-content .items .item .skill-level {
  display: inline-flex;
  color: #4e3114;
}
.wrapper .skill .section-content .items .item .skill-level i:not(:last-child)::after {
  content: " ";
  font-family: initial;
}
.wrapper .skill .section-content .groups {
  display: flex;
  flex-direction: column;
}
.wrapper .skill .section-content .groups .group {
  display: flex;
  justify-content: space-between;
}
.wrapper .skill .section-content .groups .group:not(:last-child) {
  border-bottom: 1px dashed rgba(78, 49, 20, 0.25);
}
.wrapper .skill .section-content .groups .group .group-name {
  font-weight: 600;
  flex: 0 0 auto;
}
.wrapper .skill .section-content .groups .group .group-item {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  flex: 1;
}
.wrapper .skill .section-content .groups .group .group-item span:not(:last-child)::after {
  content: "·";
  color: #4e3114;
  margin: 0 0.5em;
}
.wrapper .language .section-content .items,
.wrapper .interest .section-content .items {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .language .section-content .items .item,
.wrapper .interest .section-content .items .item {
  display: flex;
  align-items: baseline;
}
.wrapper .language .section-content .items .item:not(:last-child)::after,
.wrapper .interest .section-content .items .item:not(:last-child)::after {
  content: "·";
  color: #4e3114;
  margin: 0 0.5em;
}
.wrapper .language .section-content .items .item small::before,
.wrapper .interest .section-content .items .item small::before {
  content: " ";
  font-family: initial;
}

.footer {
  margin-bottom: 30px;
  color: #354a5f;
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  font-size: 14px;
}
.footer i {
  color: #bf3a2b;
  padding: 0 7.5px;
}

.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.close .description {
  margin: 30px 0;
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 767px) {
  body {
    padding: 0;
  }
  .wrapper {
    margin: 0;
    padding: 15px;
    box-shadow: none;
  }
  .wrapper section .section-content .items {
    flex-direction: column;
  }
  .wrapper section .section-content .items .item .row {
    flex-direction: column;
  }
  .wrapper .basic {
    flex-direction: column;
  }
  .wrapper .basic .avatar {
    display: block;
    margin: 30px auto;
  }
  .wrapper .basic .header {
    text-align: center;
  }
  .wrapper .basic .header .contact {
    flex-direction: column;
    width: 100%;
  }
  .wrapper .basic .header .contact .contact-item:not(:last-child)::after {
    content: none;
  }
  .wrapper .certificate .section-content .items,
  .wrapper .award .section-content .items,
  .wrapper .reference .section-content .items {
    flex-direction: column;
  }
  .wrapper .skill .section-content .items {
    flex-direction: column;
    margin: auto;
    width: fit-content;
  }
  .wrapper .skill .section-content .groups .group {
    flex-direction: column;
  }
  .wrapper .skill .section-content .groups .group:not(:last-child) {
    border-bottom: none;
  }
  .wrapper .skill .section-content .groups .group .group-item {
    justify-content: start;
  }
  .wrapper .language .section-content .items,
  .wrapper .interest .section-content .items {
    flex-direction: column;
  }
  .wrapper .language .section-content .items .item:not(:last-child)::after,
  .wrapper .interest .section-content .items .item:not(:last-child)::after {
    content: none;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media print {
  @page {
    size: A4;
  }
  body {
    font-size: 12pt !important;
    background: #f9f9f9 !important;
  }
  a::after {
    content: none !important;
  }
  h1, h2, h3, h4, h5, h6, img {
    break-after: avoid !important;
    break-inside: avoid !important;
  }
  ul, ol {
    break-before: avoid !important;
  }
  a, blockquote, pre {
    break-inside: avoid !important;
  }
  .wrapper {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .footer {
    display: none !important;
  }
}
section .section-title {
  text-transform: uppercase;
  justify-content: start;
  border-bottom-style: dashed;
}
section .section-content .markdown a::after, section .section-content .items a::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f08e";
  color: #31588a;
  font-size: 0.625em;
  margin: 0 0.375em;
  text-decoration: none;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */